* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
  }
  .container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
  }
  .container-header img {
    width: 234px;
    height: 49px;
    top: 37px;
    left: 84px;
  }
  .container-header ul {
    display: flex;
    gap: 50px;
    margin-top: 25px;
  }
  .container-header ul li {
    list-style: none;
    padding: 10px;
  }
  .container-header ul li a {
    text-decoration: none;
    color: #262626;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
  }
  .container-header ul li a:hover {
    color: black;
  }
  .button{
    margin-top: -10px;
    border: 1px black;
    border-radius: 40px;
    background-color: #4CE0D7;
    color: #262626;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    padding: 10px 35px;
  }
  .container-header ul li img{
    margin-top: -10px;
    width: 47px;
    height: 47px;
    top: 37px;
    left: 1309px;
  }